.floor-nav {
  position: fixed;
  margin-top: -150px;
  top: 50%;
  z-index: 9999;
  display: none;
  width: 204px;
  transition: .3 all ease-in-out;
  &.floor-nav_2 {
    width: 101px;
    .top-icon {
      background-position: center top;
    }
    .sp-girl {
      background-image: url(./imgs/girl-2.png)
    }
  }
  a {
    text-decoration: none;
    display: block;
  }
  .floor-nav-u {
    padding-top: 97px;
    li {
      display: block;
      opacity: 0;
      height: 42px;
      background-color: transparent;
      margin-bottom: 2px;
      cursor: pointer;
      a {
        text-decoration: none;
        height: 100%;
        display: block;
      }
    }
  }
  .top-icon {
    cursor: pointer;
    height: 20px;
    background: url(./imgs/top-icon.png) no-repeat 66px center;
    margin-bottom: 4px;
  }
  .sp-tip {
    height: 129px;
    position: relative;
    background: url(./imgs/tip-content.png) no-repeat center center;
  }
  .sp-girl {
    transition: .3 all ease-in-out;
    height: 104px;
    background: url(./imgs/girl.png) no-repeat center center;
  }
  .close-tip {
    position: absolute;
    width: 40px;
    height: 40px;
    // background-color: darkcyan;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}